<!DOCTYPE html>
<html class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dai'n'ying</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>电影名</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="img" class="layui-form-label">
                    <span class="x-red">*</span>封面</label>
                <div class="layui-input-inline">
                    <input type="text" id="img" name="img" required="" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="director" class="layui-form-label">
                    <span class="x-red">*</span>导演</label>
                <div class="layui-input-inline">
                    <input type="text" id="director" name="director" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="actor" class="layui-form-label">
                    <span class="x-red">*</span>演员</label>
                <div class="layui-input-inline">
                    <input type="text" id="actor" name="actor" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="type" class="layui-form-label">
                    <span class="x-red">*</span>类型</label>
                <div class="layui-input-inline">
                    <select id="type" name="type">
                        <option></option>
                        <option th:each="type:${types}" th:value="${type.getType()}" th:text="${type.getType()}">支付方式
                        </option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="m_desc" class="layui-form-label">
                    <span class="x-red">*</span>描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="m_desc" name="m_desc" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="v_link" class="layui-form-label">
                    <span class="x-red">*</span>电影链接</label>
                <div class="layui-input-inline">
                    <input type="text" id="v_link" name="v_link" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;


        //监听提交
        form.on('submit(add)',
            function (data) {
                var name = $("#name").val();
                var img = $("#img").val();
                var director = $("#director").val();
                var actor = $("#actor").val();
                var type = $("#type").val();
                var desc = $("#m_desc").val();
                var link = $("#v_link").val();
                console.log(name + "\t" + img + "\t" + director + "\t" + actor
                    + "\t" + type + "\t" + desc + "\t" + link);
                $.ajax({
                    type:'get',
                    url:"/movie/add",
                    data:{
                        'name':name,
                        'img':img,
                        'director':director,
                        'actor':actor,
                        'type':type,
                        'mDesc':desc,
                        'vLink':link
                    },
                    dataType:'json',
                    success: function (data) {
                        if (data.code == 1000) {
                            layer.alert("增加成功", {
                                    icon: 6
                                },
                                function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);

                                });
                        } else {
                            layer.msg("添加失败！")
                        }
                    }
                })
                //发异步，把数据提交给php
                return false;
            });
    });
</script>
</body>
</html>