<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahzc.stu.mapper.INewsMapper">

    <resultMap id="BaseResultMap" type="News">
        <!--@Table t_news-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="newLink" column="new_link" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, title, author, create_date, description, new_link
        from class_demo.t_news
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, title, author, create_date, description, new_link
        from class_demo.t_news
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, title, author, create_date, description, new_link
        from class_demo.t_news
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="newLink != null and newLink != ''">
                and new_link = #{newLink}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into class_demo.t_news(title, author, create_date, description, new_link)
        values (#{title}, #{author}, #{createDate}, #{description}, #{newLink})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update class_demo.t_news
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="newLink != null and newLink != ''">
                new_link = #{newLink},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from class_demo.t_news where id = #{id}
    </delete>

    <delete id="delManyByIds">
        delete from class_demo.t_news where id in
        <foreach collection="list" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>